* {
    padding: 0px auto;
    margin: 0px auto;
}

.c-head {
    background-color: #220452;
    overflow: auto;
    height: 100px;
}

#vue-tag {
    display: grid;
    justify-content: center;
    color: teal;
    padding: 10px;
    margin: 10px;
}

#app {
    padding: 10px auto;
    margin: 10px auto;
}

.button{
    padding: 10px;
    margin: 10px;
}

.active{
    background-color: teal;
    color: white;
}

.bold{
    font-weight: 500px;
}

.card{
    width: 100px;
    height: 200px;
    border: 1px solid teal;
}

.red{
    height: 100px;
    width: 100px;
    background-color: red;
}
.green{
    height: 100px;
    width: 100px;
    background-color: green;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
}