<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div class="c-head">
      <h1 id="vue-tag">Vue.js 3 - The Progressive JavaScript Framework</h1>
    </div>
    
    <div id="app">
    <input type="text" v-model="firstName" placeholder="1st">
    <input type="text" v-model="lastName" placeholder="2nd">
    <br>
    <p v-model="fullName">your full name is : {{fullName}}</p>

    </div>

    <script src="app.js"></script>
  </body>
</html>
