<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div class="c-head">
      <h1 id="vue-tag">Vue.js 3 - The Progressive JavaScript Framework</h1>
    </div>

    <div id="app">
      <input type="text" v-model="review" placeholder="write your review">
      <br><br><hr><br>
      <h3>skills</h3>
      <br><hr><br>
      <ul>
        <li v-for="skill, i in skills" :key="skill.name" @click="removeFromList(i)">
          {{skill.name}} - {{skill.Exp}}
        </li>
      </ul>
      <br><hr><br>
      <h3>Total: {{totalCount1}}</h3>
      <br><hr><br>
      <h3>Exp skills</h3>
      <br><hr><br>
      <ul>
        <li v-for="skill, i in expSkills" :key="skill.name" >
          {{skill.name}} - {{skill.Exp}}
        </li>
      </ul>
      <br><hr><br>
      <h3>Total: {{totalCount1}}</h3>
    </div>

    <script src="app.js"></script>
  </body>
</html>
