<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div class="c-head">
      <h1 id="vue-tag">Vue.js 3 - The Progressive JavaScript Framework</h1>
    </div>

    <div id="app">
      <h3>Skills</h3>
      <input type="text" v-model="newSkill.name">
      <button @click="addSkill">Add</button>
      <ul>
        <li v-for="(skill,i) in skills" @click="revomeListItem(i)" :key="skill.name">
          <p>
            {{skill.name}} -> {{skill.exp}}
          </p>
          <input type="text" placeholder="Remark" @click.stop>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
