<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div class="c-head">
      <h1 id="vue-tag">Vue.js 3 - The Progressive JavaScript Framework</h1>
    </div>

    <div id="app">
      <h3>About Me</h3>
      <table>
        <tr v-for="value, key, i in aboutMe">
          <th>{{i+1}}</th>
          <th>{{key}}</th>
          <td>{{value}}</td>
        </tr>
      </table>
      <h3>skills</h3>
      <p>
        <template v-for=" skill in skills" :key="skill.name">
          {{skill.name }},
        </template>
      </p>
    </div>

    <script src="app.js"></script>
  </body>
</html>
